<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Add book</h1>
	<div>
		<form th:object="${book}" th:action="@{save}" action="#" method="post">
		<table>
		  	<tr> 
		  	<td>Title<input type="text" id="title" th:field="*{title}"  /></td>
		  	<td th:if="${#fields.hasErrors('title')}" th:errors="*{title}"> Error</td>
		  	</tr>
		  	<tr> 
			<td>Author<input type="text" id="author" th:field="*{author}"  /></td>
		  	<td th:if="${#fields.hasErrors('author')}" th:errors="*{author}"> Error</td>
		  	</tr>
		  	<tr> 
			<td>ISBN<input type="text" id="isbn" th:field="*{isbn}"  /></td>
		  	<td th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}"> Error</td>
		  	</tr>
		  	<tr> 
			<td>Year<input type="text" id="bookYear" th:field="*{bookYear}"  /></td>
		  	<td th:if="${#fields.hasErrors('bookYear')}" th:errors="*{bookYear}"> Error</td>
		  	</tr>
		  	<tr> 
			<td>Price<input type="text" id="price" th:field="*{price}"  /></td>
		  	<td th:if="${#fields.hasErrors('price')}" th:errors="*{price}"> Error</td>
			</tr>
			<tr>						
		  	<td>Category
			 <select id="categorylist" th:field="*{category}" class="form-control">
       			<option th:each="category: ${categories}" th:value="${category.categoryid}" th:text="${category.name}"></option>
    		</select></td>
    		</tr>
			
			<div style="clear: both; display: block; height: 10px;"></div>
			</table>
			<input type="submit" value="Save"></input>
		</form>
	</div>
</body>
</html>